body {
  -webkit-app-region: drag;
  font-family: helvetica, arial, sans-serif;
}
.todos .completed .todo-description {
  text-decoration: line-through;
}
.forecast-unit {
    display: inline-block;
}
a {
    -webkit-app-region: no-drag;
}