<h2>Alert</h2>
{{#each this}}
  {{#if this}}
  <article class="alert">
    <p><strong>{{title}}</strong>: {{description}} <a class="dismiss" href="#" data-id="{{@index}}">dismiss</a></p>
  </article>
  {{/if}}
{{/each}}
