<h1>To Do</h1>
<ul class="todos">
  {{#each this}}
  <li><span class="todo-description">{{description}}</span> <a class="delete" href="#" data-id="{{@index}}">delete</a></li>
  {{/each}}
  <li><form><input type="text" placeholder="new todo (enter to submit)"/></form>
</ul>
